// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials:

// Custom styles:
 
$primary-color: rgb(69, 201, 181);
$body-bg: #ededed;

.nav-item {
    a:hover{ 
        text-decoration: underline;
    }
 }

 header{
  background-color: #ffffff;
  background-image: url("../img/pirate-ship.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}
  
  h1 {
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

  
  .content {
    margin: auto;
    padding: 5px;
    color: black;
    font-size: 15px;

    p{
      font-size: 15px;
      padding: auto;
      margin-bottom: 12px;
    }

    h2 { 
      font-size: 35px;
    }

    footer {
      text-align: center;
      background-color: $primary-color;
      margin-top: 1rem;
      padding: 10px;
    }

    h3{
      font-weight: bold;
      margin:auto;
      color: black;
    }
  }
  
  .carousel-caption{
    font-size:12px;
    color:whitesmoke;
  }

